* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
    overflow: hidden;
}

header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
    margin: auto;
}

header a {
    margin-right: 40px;
    font-weight: 300;
    cursor: pointer;
}

header a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

main {
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
}

main .list .list-item {
    width: 100%;
    height: 100%;
    position: absolute;
}

main .list .list-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

main .list .list-item .content {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    text-shadow: 0 5px 10px #0004;
}

main .list .list-item .title {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

main .list .list-item .description {
    font-size: 1.5em;
}

main .list .list-item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

main .list .list-item .buttons button {
    cursor: pointer;
    border: none;
    background-color: #eee;
    letter-spacing: 2px;
    font-weight: 500;
}

main .list .list-item .buttons button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
    transition: 0.7s;
}

main .list .list-item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}

main .list .list-item .buttons button:nth-child(2):hover {
    background-color: #eee;
    color: #000;
    border: none;
}

main .thumb {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
    z-index: 999;
}

main .thumb .thumb-item {
    width: 153px;
    height: 200px;
    position: relative;
    z-index: 999;
}

main .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

main .thumb .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

main .arrows {
    display: flex;
    position: absolute;
    bottom: 120px;
    left: 125px;
    width: 300px;
    align-items: center;
    gap: 10px;
}

main .arrows button {
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: #eee4;
    color: #eee;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5em;
}

main .arrows button:hover {
    background-color: #eee;
    color: #000;
    transition: 0.7s;
}

main.next .thumb {
    animation: thumbNextMove .4s linear 1 forwards;
}

main.next .thumb .thumb-item:nth-last-child(1) {
    animation: lastThumbFx .4s linear 1 forwards;
}

@keyframes thumbNextMove {
    from {
        transform: translateX(150px);
    }
}

@keyframes lastThumbFx {
    from {
        opacity: 0;
    }
}

main.back .thumb {
    animation: thumbBackMove .4s linear 1 forwards;
}

main.back .thumb .thumb-item:nth-child(1) {
    animation: firstThumbFx .4s linear 1 forwards;
}

@keyframes thumbBackMove {
    from {
        transform: translateX(-150px);
    }
}

@keyframes firstThumbFx {
    from {
        opacity: 0;
    }
}

main .list .list-item:nth-last-child(1) .content .title,
main .list .list-item:nth-last-child(1) .content .description,
main .list .list-item:nth-last-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .4s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

main .list .list-item:nth-last-child(1) .content .description {
    animation-delay: 1.2s;
}

main .list .list-item:nth-last-child(1) .content .buttons {
    animation-delay: 1.4s;
}

main.next .list .list-item:nth-last-child(1) img {
    width: 135px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 10px;
    animation: showImage .4s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

main.back .list .list-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideImage .4s linear 1 forwards;
    z-index: 9;
}

@keyframes hideImage {
    to {
        width: 135px;
        height: 200px;
        bottom: 50px;
        left: 50%;
        border-radius: 10px;
    }
}